In [ ]:
# Importing the needed libraries and 
from google.colab import drive
import pandas as pd
import numpy as np
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cup = '/content/drive/MyDrive/Hamoye/Data_for_UCI_named.csv'
df = pd.read_csv(cup)
df

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385,0.023892,unstable
9996,3.392299,1.274827,2.954947,6.894759,4.349512,-1.663661,-0.952437,-1.733414,0.502079,0.567242,0.285880,0.366120,-0.025803,stable
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984,-0.031810,stable
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,0.037789,unstable
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,0.045263,unstable

In [ ]:
# Getting shape of dataset
df.shape

(10000, 14)

In [ ]:
# informtaion on dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  object
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [ ]:
# checking calssification of the target variable
df.stabf.value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [ ]:
# Checking aggregate information
df.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403

In [ ]:
# Checking null values
df.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [ ]:
# Checking duplicates
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [ ]:
# Checking the features
df.columns

Index(['tau1', 'tau2', 'tau3', 'tau4', 'p1', 'p2', 'p3', 'p4', 'g1', 'g2',
       'g3', 'g4', 'stab', 'stabf'],
      dtype='object')

In [ ]:
# Splitting features to predictors and target
new_df = df.drop(columns=['stab'])
X = new_df.drop(columns=['stabf'])
y = new_df['stabf']

In [ ]:
# Splitting to train and test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
y_train.value_counts()

unstable    5092
stable      2908
Name: stabf, dtype: int64

In [ ]:
# Balancing of samples
import imblearn
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=1)
x_train_balanced, y_balanced = smote.fit_resample(x_train, y_train)

In [113]:
# Scaling the datasets
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
normalised_train_df = scaler.fit_transform(x_train_balanced)
normalised_train_df = pd.DataFrame(normalised_train_df, columns=x_train_balanced.columns)

In [ ]:
# pip install lightgbm

In [ ]:
# importing needed libraries
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from xgboost import XGBClassifier
import lightgbm as lgb 
from sklearn.metrics import accuracy_score, classification_report, precision_score, recall_score, f1_score, confusion_matrix
# from sklearn.linear_model import LogisticRegression

In [ ]:
# Making Objects of the classifiers
from lightgbm.sklearn import LGBMClassifier
rfc = RandomForestClassifier()
extree = ExtraTreesClassifier()
xgb = XGBClassifier()
light = LGBMClassifier()
# log = LogisticRegression()

In [ ]:
# putting models in a dictionary
models = {'Random Forest': RandomForestClassifier(),
          'Extra Tree': ExtraTreesClassifier(),
          'XGBoost': XGBClassifier(),
          'Lightgbm': LGBMClassifier()
         }

In [ ]:
# setting up a function to fit and score model
def fit_and_score(models, x_train, x_test, y_train, y_test): 
    np.random.seed(1)
    model_scores = {}
    for name, model in models.items():
        model.fit(x_train, y_train)
        model_scores[name] = model.score(x_test, y_test)
    return model_scores

In [ ]:
model_scores = fit_and_score(models=models, x_train=x_train, x_test=x_test, y_train=y_train, y_test=y_test)
model_scores

{'Random Forest': 0.929,
 'Extra Tree': 0.93,
 'XGBoost': 0.9195,
 'Lightgbm': 0.9375}

In [ ]:
trained = (rfc, x_train, y_train, x_test, y_test, np.random.seed(1))
trainee = rfc.fit(x_train, y_train)
y_pred = trainee.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.929

In [ ]:
y_test

9953    unstable
3850    unstable
4962      stable
3886      stable
5437    unstable
          ...
3919      stable
162       stable
7903      stable
2242    unstable
2745    unstable
Name: stabf, Length: 2000, dtype: object

#Hyperparameter Turning

In [90]:
# creating a hyperparameter grid for RandomForestClassifier()
rf_grid = {'n_estimators': np.arange(10,1000,50),
           'max_depth': [None, 3, 5, 10],
           'min_samples_split': np.arange(2,20,2),
           'min_samples_leaf': np.arange(1,20,2)}
# creating a hyperparameter grid for ExtraTreesClassifier()
et_grid = {'random_state' : [1],
           'n_estimators': np.arange(10,1000,50),
           'max_depth':[None, 3, 5, 10],
           'min_samples_split': np.arange(2,30,3),
           'min_samples_leaf': np.arange(1,30,3),
           }
# creating a hyperparameter grid for XGBClassifier()
xg_grid = {'learning_rate': [0.0001, 0.001, 0.01, 0.1, 1],
           'max_depth':range(3,21,3),
           'colsample_bytree': [i/10.0 for i in range(3,10)],
           'gamma': [i/10.0 for i in range(0,5)]
           }
# creating a hyperparameter grid for LGBMClassifier()
lg_grid = {'n_estimators': np.arange(10,1000,50),
           'learning_rate':[0.0001, 0.001, 0.01, 0.1, 1],
           'colsample_bytree': [i/10.0 for i in range(3,10)],
           'min_child_samples': (20,200,20) 
           }

In [ ]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [ ]:
# using RandomizedSearchCV
# Tuning RandomForestClassifier
np.random.seed(1)
# set up random parameter search for LogisticRegression()
rs_rf = RandomizedSearchCV(RandomForestClassifier(),
                           param_distributions=rf_grid,
                           cv=5,
                           n_iter=20,
                           verbose=True)
# fitting random hyperparameter search model for logistic regression
rs_rf.fit(x_train, y_train)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=20,
                   param_distributions={'max_depth': [None, 3, 5, 10],
                                        'min_samples_leaf': array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19]),
                                        'min_samples_split': array([ 2,  4,  6,  8, 10, 12, 14, 16, 18]),
                                        'n_estimators': array([ 10,  60, 110, 160, 210, 260, 310, 360, 410, 460, 510, 560, 610,
       660, 710, 760, 810, 860, 910, 960])},
                   verbose=True)

In [ ]:
rs_rf.best_params_

{'n_estimators': 760,
 'min_samples_split': 6,
 'min_samples_leaf': 3,
 'max_depth': None}

In [ ]:
rs_rf.score(x_test, y_test)

0.926

In [89]:
# Tuning ExtraTreesClassifier()
np.random.seed(1)
# set up random parameter search for ExtraTreesClassifier
rs_et = RandomizedSearchCV(ExtraTreesClassifier(),
                                param_distributions=et_grid,
                                cv=5,
                                n_iter=10,
                                scoring='accuracy',
                                n_jobs=-1,
                                verbose=1,
                                random_state=1)
# fitting random hyperparameter search model for ExtraTreesClassifier
rs_et.fit(x_train, y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

RandomizedSearchCV(cv=5, estimator=ExtraTreesClassifier(), n_jobs=-1,
                   param_distributions={'max_depth': [None, 3, 5, 10],
                                        'min_samples_leaf': array([ 1,  4,  7, 10, 13, 16, 19, 22, 25, 28]),
                                        'min_samples_split': array([ 2,  5,  8, 11, 14, 17, 20, 23, 26, 29]),
                                        'n_estimators': array([ 10,  60, 110, 160, 210, 260, 310, 360, 410, 460, 510, 560, 610,
       660, 710, 760, 810, 860, 910, 960]),
                                        'random_state': [1]},
                   random_state=1, scoring='accuracy', verbose=1)

In [88]:
rs_et.best_params_

{'random_state': 1,
 'n_estimators': 760,
 'min_samples_split': 5,
 'min_samples_leaf': 4,
 'max_depth': None}

In [ ]:
rs_et.score(x_test, y_test)

0.9255

In [ ]:
# Turning XGBClassifier()
np.random.seed(1)
# setup random parameter search for XGBClassifier()
rs_xg = RandomizedSearchCV(XGBClassifier(),
                                param_distributions=xg_grid,
                                cv=5,
                                n_iter=30,
                                verbose=True)
# fitting random hyperparameter search model for XGBClassifier
rs_xg.fit(x_train, y_train)

Fitting 5 folds for each of 30 candidates, totalling 150 fits

RandomizedSearchCV(cv=5, estimator=XGBClassifier(), n_iter=30,
                   param_distributions={'colsample_bytree': [0.3, 0.4, 0.5, 0.6,
                                                             0.7, 0.8, 0.9],
                                        'gamma': [0.0, 0.1, 0.2, 0.3, 0.4],
                                        'learning_rate': [0.0001, 0.001, 0.01,
                                                          0.1, 1],
                                        'max_depth': range(3, 21, 3)},
                   verbose=True)

In [ ]:
rs_xg.best_params_

{'max_depth': 6, 'learning_rate': 0.1, 'gamma': 0.0, 'colsample_bytree': 0.8}

In [ ]:
rs_xg.score(x_test, y_test)

0.929

In [ ]:
# Turning LGBMClassifier()
np.random.seed(1)
# setup random parameter search for LGBMClassifier()
rs_lg = RandomizedSearchCV(LGBMClassifier(),
                                param_distributions=lg_grid,
                                cv=5,
                                n_iter=30,
                                verbose=True)
# fitting random hyperparameter search model for LGBMClassifier
rs_lg.fit(x_train, y_train)

Fitting 5 folds for each of 30 candidates, totalling 150 fits

RandomizedSearchCV(cv=5, estimator=LGBMClassifier(), n_iter=30,
                   param_distributions={'colsample_bytree': [0.3, 0.4, 0.5, 0.6,
                                                             0.7, 0.8, 0.9],
                                        'learning_rate': [0.0001, 0.001, 0.01,
                                                          0.1, 1],
                                        'min_child_samples': (20, 200, 20),
                                        'n_estimators': array([ 10,  60, 110, 160, 210, 260, 310, 360, 410, 460, 510, 560, 610,
       660, 710, 760, 810, 860, 910, 960])},
                   verbose=True)

In [ ]:
rs_lg.best_params_

{'n_estimators': 360,
 'min_child_samples': 20,
 'learning_rate': 0.1,
 'colsample_bytree': 0.8}

In [86]:

rs_lg.score(x_test, y_test)

0.9445

In [92]:
# Question 20
# Find the feature importance using the optimal ExtraTreesClassifier model. Which features are the most and least important respectively?
trained_et = (extree, x_train, y_train, x_test, y_test, np.random.seed(1))
trainee_et = extree.fit(x_train, y_train)
y_pred_et = trainee_et.predict(x_test)
accuracy_et = accuracy_score(y_test, y_pred_et)
round(accuracy_et, 4)
# Answer: (tau2,p1)

0.928

In [103]:
trainee_et.feature_importances_

array([0.11739736, 0.11844468, 0.11316851, 0.11546569, 0.03950675,
       0.04037132, 0.04070628, 0.04057864, 0.08978291, 0.09367636,
       0.09688268, 0.09401882])

In [111]:
# Creating DataFrame of feature importances
feat_df = pd.DataFrame({'Feature_names':X.columns, 'Importances':trainee_et.feature_importances_})
feat_df.sort_values(by='Importances', ascending=False)

   Feature_names  Importances
1           tau2     0.118445
0           tau1     0.117397
3           tau4     0.115466
2           tau3     0.113169
10            g3     0.096883
11            g4     0.094019
9             g2     0.093676
8             g1     0.089783
6             p3     0.040706
7             p4     0.040579
5             p2     0.040371
4             p1     0.039507

In [112]:
# len(df.columns)

In [ ]:
# Question 19
# What other hyperparameter optimization method can you try apart from Random Search?
# Answer: GridSearchCV()

In [115]:
# Question 18
# Train a new ExtraTreesClassifier Model with the new Hyperparameters from the RandomizedSearchCV (with random_state = 1). Is the accuracy of the new optimal model higher or lower than the initial ExtraTreesClassifier model with no hyperparameter tuning?
# Answer: Lower (0.9255 vs 0.93)
print(rs_et.score(x_test, y_test))
model_scores

0.9255

{'Random Forest': 0.929,
 'Extra Tree': 0.93,
 'XGBoost': 0.9195,
 'Lightgbm': 0.9375}

In [ ]:
# Question 17
# Using the ExtraTreesClassifier as your estimator with cv=5, n_iter=10, scoring = 'accuracy', n_jobs = -1, verbose = 1 and random_state = 1. What are the best hyperparameters from the randomized search CV?
# N_estimators = 1000 , min_samples_split = 2 , min_samples_leaf = 8, max_features = None

In [ ]:
# Question 16
# What is the accuracy on the test set using the LGBM classifier? In 4 decimal places.
trained_light = (light, x_train, y_train, x_test, y_test, np.random.seed(1))
trainee_light = light.fit(x_train, y_train)
y_pred_light = trainee_light.predict(x_test)
accuracy_light = accuracy_score(y_test, y_pred_light)
accuracy_light

0.9375

In [ ]:
# Question 15
# What is the accuracy on the test set using the XGboost classifier? In 4 decimal places.
trained_xg = (xgb, x_train, y_train, x_test, y_test, np.random.seed(1))
trainee_xg = xgb.fit(x_train, y_train)
y_pred_xg = trainee_xg.predict(x_test)
accuracy_xg = accuracy_score(y_test, y_pred_xg)
accuracy_xg

0.9195

In [ ]:
# Question 14
# What is the accuracy on the test set using the random forest classifier? In 4 decimal places.
trained_rf = (rfc, x_train, y_train, x_test, y_test, np.random.seed(1))
trainee_rf = rfc.fit(x_train, y_train)
y_pred_rf = trainee_rf.predict(x_test)
accuracy_rf = accuracy_score(y_test, y_pred_rf)
round(accuracy_rf, 4)

0.929